DATABASE_URL="postgresql://neondb_owner:npg_Al38NzhpwrPE@ep-bitter-flower-aplio9iv-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
WHATSAPP_VERIFY_TOKEN="ebeecharge_demo"
WHATSAPP_TOKEN="EAAWFWdrNWywBRj0TCtlkECdNa2T63gSA6TWxOsXatuQ77z4J1YJOyRyrXUSPivvucz2E5OigB06OOSueArBogVIGHaIH34ZBiiu3vCcwfEefrZBNqRu5eoX7sAMr5vM2hhttmnCyvLRZBVZAnACg1kx3ISLve2DuSOEPVjBprk8UhP7nN6dxAMqocdjk6KACQALLUaPHEorZA2b2EHyCZAbI3T8nnLv6smpEZCFFuUeQ5GUdblcoTaOvoZCZCLGfic9lmPsQXV4LLzxhoBXjGFq9PP6Sy"
WHATSAPP_PHONE_NUMBER_ID="1123277467542263"
PORT=3000
OCPP_PORT=3001
